
#body {
    margin: 30px;
    height: 30px;
}
#nav {
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
#a {
    flex-basis: 5%;
}
#b {
    flex-basis: 5%;
}
#ghost {
    flex-basis: 80%;
}
#c {
    flex-basis: 5%;
}
#d {
    flex-basis: 5%;
}
#aa {
    flex-basis: 5%;
}
#bb {
    flex-basis: 5%;
}




     
